<div class="container">
    <h1 class="text-center" style="margin-bottom: 50px">Github repository search</h1>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <search on-repos="$ctrl.onRepos(repos)" on-loading="$ctrl.setLoading(isLoading)"></search>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div>
                <repo-list ng-show="$ctrl.repos && !$ctrl.issueParameters && !$ctrl.isLoading" repos="$ctrl.repos" on-repo-click="$ctrl.displayIssues(username, repo, index)"
                    class="opaque animate-show-hide"></repo-list>
                <div ng-show="$ctrl.issueParameters && !$ctrl.isLoading" class="opaque animate-show-hide" style="border: 1px solid black;padding: 25px;margin: 20px;border-radius: 5px">
                    <i class="fa fa-window-close close-button" aria-hidden="true" ng-click="$ctrl.closeIssues()"></i>
                    <issues-detail on-loading="$ctrl.setLoading(isLoading)" parameters="$ctrl.issueParameters">
                </div>
            </div>
        </div>
    </div>
</div>
<span ng-show="$ctrl.isLoading" us-spinner></span>
<toaster-container></toaster-container>