<h3>Issues in github.com/{{$ctrl.username + "/" + $ctrl.repo}}:</h3>

<div ng-repeat="issue in $ctrl.currentIssues" class="row">
    <div class="col-sm-12">
        <a href="{{issue.html_url}}" target="_blank">
            <h4>{{issue.title}}</h4>
        </a>
        <p><span class="field-name">Description: </span>{{issue.body | maxlength:250}}</p>
        <p><span class="field-name">State: </span>{{issue.state}}</p>
        <p><span class="field-name">Created at: </span>{{issue.created_at | date}}</p>
        <p><span class="field-name">Updated at: </span>{{issue.updated_at | date}}</p>
        <p><span class="field-name">Closed at: </span>{{issue.closed_at | date}}</p>
        <p>
    </div>
</div>

<ul ng-if="$ctrl.pages.length > 1" class="pagination">
    <li ng-repeat="page in $ctrl.pages track by $index" ng-class="{active: $ctrl.isPageActive($index)}" ng-click="$ctrl.setPage($index)"><a href="#">{{$index + 1}}</a></li>
</ul>