<h3>Repo Details</h3>
<div>
  <h4 class="list-group-item-heading">{{ repo.full_name }}</h4>
  <p class="list-group-item-text">{{ repo.description }}</p>
  <p>
    <span class="glyphicon glyphicon-star" aria-hidden="true">{{repo.stargazers_count}}</span>
  </p>
  <div class="list-group">
    <issue-directive issue="issue" ng-repeat="issue in issues"></issue-directive>
  </div>
  </a>
  <div class="alert alert-warning" ng-if="headerInfo.rateLimit.remaining">
    GitHub limits API queries; remaining: {{ headerInfo.rateLimit.remaining }}
    (<a href="https://developer.github.com/v3/search/#rate-limit">more info</a>)
  </div>
</div>
