<h2 class="text-center">Repositories list</h2>

<div ng-show="$ctrl.currentRepos.length" class="row">
    <div ng-repeat="repo in $ctrl.currentRepos track by $index" class="col-sm-6">
        <h3 class="link" ng-click="$ctrl.displayIssues(repo.owner.login, repo.name, $index)">{{repo.full_name}}</h3>
        <p ng-show="repo.description"><span class="field-name">Description: </span>{{repo.description}}</p>
        <p open-in-new-tab="{{repo.owner.html_url}}"><span class="field-name">Owner: </span>{{repo.owner.login}}</p>
        <p><span class="field-name">Updated at: </span>{{repo.updated_at | date}}</p>
        <p ng-show="repo.language"><span class="field-name">Language: </span>{{repo.language}}</p>
        <p><span class="field-name">Stars: </span>{{repo.stargazers_count}}</p>
        <p><span class="field-name">Forks: </span>{{repo.forks}}</p>
    </div>
</div>
<ul ng-if="$ctrl.pages.length > 1" class="pagination">
    <li ng-repeat="page in $ctrl.pages track by $index" ng-class="{active: $ctrl.isPageActive($index)}" ng-click="$ctrl.setPage($index)"><a href="#">{{$index + 1}}</a></li>
</ul>

<div ng-hide="$ctrl.currentRepos.length">
    No repositories found
</div>